---
version: '3'
services:
  adguardhome:
    container_name: adguardhome
    image: adguard/adguardhome
    networks:
      adguard_ip:
        ipv4_address: ${ADGUARD_IP}  # Set static IP address
    env_file:
      - ../server.env
      - ./adguard.env
    ports:
      - "${SERVER_IP}:53:53/tcp"
      - "${SERVER_IP}:53:53/udp"
      - "${SERVER_IP}:784:784/udp"
      - "${SERVER_IP}:853:853/tcp"
      - "${SERVER_IP}:3000:3000/tcp"
      - "${SERVER_IP}:80-443:80/tcp"
    volumes:
      - /mnt/user/appdata/core/adguard/workingdir:/opt/adguardhome/work
      - /mnt/user/appdata/core/adguard/config:/opt/adguardhome/conf
    restart: always

networks:
  adguard_ip:
    driver: bridge
    external:
      name: ${UNRAID_BRIDGE_NAME}  # Specify the name of the existing bridge network in Unraid
