---
services:
  krusader:
    container_name: krusader
    image: ich777/krusader:latest
    networks:
      - devrack
    env_file:
      - ./env
    ports:
      - "${SERVER_IP}:6481:8080"
    volumes:
      - /mnt/user/appdata/tools/krusader/:/krusader
      - /mnt/user/:/mnt/user
    environment:
      USER_LOCALES: 'en_US.UTF-8 UTF-8'
      RUNASROOT: false
      NOVNC_RESIZE: remote # Delete this value if you don't want local scaling.
      CUSTOM_RES_W: 1280 # Enter the preferred resolution width
      CUSTOM_RES_H: 768 # Enter the preferred resolution height
    restart: unless-stopped

networks:
  devrack:
    name: ${DOCKER_NETWORK}
    external: true
