services:
  memos:
    image: neosmemo/memos:stable
    container_name: memos
    networks:
      - devrack
    env_file:
      - ./.env
    ports:
      - "${SERVER_IP}:5230:5230"
    volumes:
      - /mnt/user/appdata/docs/memos/:/var/opt/memos

networks:
  devrack:
    name: ${DOCKER_NETWORK}
    external: true
