---
version: '3'
services:
  mariadb:
    container_name: mattermost_db
    image: lscr.io/linuxserver/mariadb:latest
    networks:
      - proxy
    env_file:
      - ../server.env
      - ./mattermost.env
    ports:
      - "${SERVER_IP}:3306:${MARIADB_PORT}"
    volumes:
      - /mnt/user/appdata/comms/mariadb/config:/config
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: 'America/Chicago'
      MYSQL_DATABASE: ${USER_DB_NAME}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    restart: unless-stopped