---
services:
  <docker_container_name>:
    container_name: <docker_container_name>
    image: <docker_container_image_location>
    networks:
      - devrack
    env_file:
      - ./.env
    ports:
      - "${SERVER_IP}:7878:7878" # If port differs change in /config/config.xml
    volumes:
      - /mnt/user/appdata/<service_directory>/<docker_container_name>:/...
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
     restart: unless-stopped

networks:
  devrack:
    name: ${DOCKER_NETWORK}
    external: true
