---
services:
  jellyseerr:
    container_name: jellyseerr
    image: fallenbagel/jellyseerr:latest
    networks:
      - devrack
    env_file:
      - ./.env
    ports:
      - "${SERVER_IP}:5055:5055" # webUI port
    volumes:
      - /mnt/user/appdata/jelly/jellyseerr:/app/config/
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - LOG_LEVEL='info'
      - TZ=${TZ}
    labels:
      - net.unraid.docker.managed=dockerman
      - net.unraid.docker.webui='http://[IP]:[PORT:5055]'
      - net.unraid.docker.icon='https://cdn.jsdelivr.net/gh/selfhst/icons/webp/jellyseerr.webp'
    restart: unless-stopped

networks:
  devrack:
    name: ${DOCKER_NETWORK}
    external: true
