version: '3'

services:
  photoprism:
    image: photoprism/photoprism:latest
    container_name: photoprism
    restart: unless-stopped
    stop_grace_period: 10s
    networks:
      - devrack
    env_file:
      - ../server.env
      - ./photoprism.env
    depends_on:
      - mariadb_photoprism
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    labels:
      - net.unraid.docker.managed=dockerman
      - net.unraid.docker.webui='http://[IP]:[PORT:2342]'
      - net.unraid.docker.icon='https://raw.githubusercontent.com/photoprism/photoprism/develop/assets/static/icons/logo/192.png'
    ports:
      - "${SERVER_IP}:2342:2342"
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      PHOTOPRISM_ADMIN_USER: "admin" # admin login username
      PHOTOPRISM_ADMIN_PASSWORD: "insecure" # initial admin password (8-72 characters)
      PHOTOPRISM_AUTH_MODE: "public" # authentication mode (public, password)
      PHOTOPRISM_SITE_URL: "http://${SERVER_IP}:2342/"  # server URL in the format "http(s)://domain.name(:port)/(path)"
      PHOTOPRISM_DISABLE_TLS: "false" # disables HTTPS/TLS even if the site URL starts with https:// and a certificate is available
      PHOTOPRISM_DEFAULT_TLS: "true" # defaults to a self-signed HTTPS/TLS certificate if no other certificate is available
      PHOTOPRISM_ORIGINALS_LIMIT: 10000 # file size limit for originals in MB (increase for high-res video)
      PHOTOPRISM_HTTP_COMPRESSION: "gzip" # improves transfer speed and bandwidth utilization (none or gzip)
      PHOTOPRISM_LOG_LEVEL: "info" # log level: trace, debug, info, warning, error, fatal, or panic
      PHOTOPRISM_READONLY: ${PUBLIC_READY} # do not modify originals directory (reduced functionality)
      PHOTOPRISM_EXPERIMENTAL: "false" # enables experimental features
      PHOTOPRISM_DISABLE_CHOWN: ${PUBLIC_READY}  # disables updating storage permissions via chmod and chown on startup
      PHOTOPRISM_DISABLE_WEBDAV: "false" # disables built-in WebDAV server
      PHOTOPRISM_DISABLE_SETTINGS: ${PUBLIC_READY} # disables settings UI and API
      PHOTOPRISM_DISABLE_TENSORFLOW: "false" # disables all features depending on TensorFlow
      PHOTOPRISM_DISABLE_FACES: "false" # disables face detection and recognition (requires TensorFlow)
      PHOTOPRISM_DISABLE_CLASSIFICATION: "false" # disables image classification (requires TensorFlow)
      PHOTOPRISM_DISABLE_VECTORS: "false" # disables vector graphics support
      PHOTOPRISM_DISABLE_RAW: "true" # disables indexing and conversion of RAW images
      PHOTOPRISM_RAW_PRESETS: "false" # enables applying user presets when converting RAW images (reduces performance)
      PHOTOPRISM_JPEG_QUALITY: 85 # a higher value increases the quality and file size of JPEG images and thumbnails (25-100)
      PHOTOPRISM_DETECT_NSFW: "false" # automatically flags photos as private that MAY be offensive (requires TensorFlow)
      PHOTOPRISM_UPLOAD_NSFW: "true" # allows uploads that MAY be offensive (no effect without TensorFlow)
      PHOTOPRISM_DATABASE_DRIVER: "mysql" # use MariaDB 10.5+ or MySQL 8+ instead of SQLite for improved performance
      PHOTOPRISM_DATABASE_SERVER: "mariadb_photoprism:3306"  # MariaDB or MySQL database server (hostname:port)
      PHOTOPRISM_DATABASE_NAME: ${PHOTOPRISM_DATABASE_NAME} # MariaDB or MySQL database schema name
      PHOTOPRISM_DATABASE_USER: ${PHOTOPRISM_DATABASE_USER} # MariaDB or MySQL database user name
      PHOTOPRISM_DATABASE_PASSWORD: ${PHOTOPRISM_DATABASE_PASSWORD} # MariaDB or MySQL database user password
      PHOTOPRISM_SITE_CAPTION: "Zvolanek Portfolio"
      PHOTOPRISM_SITE_DESCRIPTION: "Self-hosted porfolio for Adam & Alex Zvolanek" # meta site description
      PHOTOPRISM_SITE_AUTHOR: "Adam Zvolanek" # meta site author
      PHOTOPRISM_INIT: "https tensorflow"
    working_dir: "/photoprism" # do not change or remove
    volumes:
      - /mnt/user/appdata/photo/photoprism/photoprism/storage:/photoprism/storage # *Writable* storage folder for cache, database, and sidecar files (DO NOT REMOVE)
      - /mnt/user/pictures/Portfolio:/photoprism/originals:ro # Original media files (DO NOT REMOVE)

  mariadb_photoprism:
    image: mariadb:11
    restart: unless-stopped
    stop_grace_period: 5s
    container_name: mariadb_photoprism
    networks:
      - devrack
    env_file:
      - ../server.env
    labels:
      - net.unraid.docker.managed=dockerman
      - net.unraid.docker.icon='https://static-00.iconduck.com/assets.00/mariadb-icon-512x340-txozryr2.png'
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    command: --innodb-buffer-pool-size=512M --transaction-isolation=READ-COMMITTED --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max-connections=512 --innodb-rollback-on-timeout=OFF --innodb-lock-wait-timeout=120
    volumes:
      - /mnt/user/appdata/photo/photoprism/mariadb:/var/lib/mysql # DO NOT REMOVE
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      MARIADB_AUTO_UPGRADE: "1"
      MARIADB_INITDB_SKIP_TZINFO: "1"
      MARIADB_DATABASE: ${PHOTOPRISM_DATABASE_NAME}
      MARIADB_USER: ${PHOTOPRISM_DATABASE_USER}
      MARIADB_PASSWORD: ${PHOTOPRISM_DATABASE_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}

networks:
  devrack:
    name: ${DOCKER_NETWORK}
    external: true
