---
services:
  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    networks:
      - devrack
    ports:
      - "${SERVER_IP}:7878:7878" # If port differs change in /config/config.xml
    volumes:
      - /mnt/user/appdata/arrs/radarr:/config
      - /mnt/user/media:/media
      - /mnt/user/scratch/downloads/movie:/data/movie
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    restart: unless-stopped

  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:develop
    networks:
      - devrack
    ports:
      - "${SERVER_IP}:8989:8989" # If port differs change in /config/config.xml
    volumes:
      - /dev/rtc:/dev/rtc:ro
      - /mnt/user/appdata/arrs/sonarr:/config
      - /mnt/user/media:/media
      - /mnt/user/scratch/downloads/tv:/data/tv
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    restart: unless-stopped

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    networks:
      - devrack
    ports:
      - "${SERVER_IP}:9696:9696" # If port differs change in /config/config.xml
    volumes:
      - /mnt/user/appdata/arrs/prowlarr:/config
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    restart: unless-stopped

  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    depends_on:
      - prowlarr
    networks:
      - devrack
    ports:
      - "${SERVER_IP}:8191:8191"
    labels:
      net.unraid.docker.managed: dockerman
      net.unraid.docker.webui: http://[IP]:[PORT:8191]
      net.unraid.docker.icon: 'https://store.elfhosted.com/wp-content/uploads/2023/07/flaresolverr.png'
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    restart: unless-stopped

networks:
  devrack:
    name: ${DOCKER_NETWORK}
    external: true
