---
services:
  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    networks:
      - devrack
    env_file:
      - ./env
    ports:
      - "${SERVER_IP}:7878:7878" # If port differs change in /config/config.xml
    volumes:
      - /mnt/user/appdata/arrs/radarr:/config
      - /mnt/user/media:/media
      - /mnt/scratch-disk/Downloads:/data/Downloads
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    restart: unless-stopped

  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:develop # bump to version 4
    networks:
      - devrack
    env_file:
      - ./env
    ports:
      - "${SERVER_IP}:8989:8989" # If port differs change in /config/config.xml
    volumes:
      - /dev/rtc:/dev/rtc:ro
      - /mnt/user/appdata/arrs/sonarr:/config
      - /mnt/user/media:/media
      - /mnt/scratch-disk/Downloads:/data/Downloads
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    restart: unless-stopped

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    networks:
      - devrack
    env_file:
      - ./env
    ports:
      - "${SERVER_IP}:9696:9696" # If port differs change in /config/config.xml
    volumes:
      - /mnt/user/appdata/arrs/prowlarr:/config
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    restart: unless-stopped

  flaresolverr:
    container_name: flaresolverr
    image: lscr.io/linuxserver/flaresolverr:latest
    networks:
      - devrack
    env_file:
      - ./env
    ports:
      - "${SERVER_IP}:8191:8191"
    environment:
      - TZ=America/Chicago
    depends_on:
      - prowlarr
    restart: unless-stopped

#  recyclarr:
#    container_name: recyclarr
#    image: ghcr.io/recyclarr/recyclarr:latest
#    networks:
#      - devrack
#    env_file:
#      - ./env
#    volumes:
#      - /mnt/user/appdata/arrs/recyclarr:/config
#    environment:
#      - TZ=America/Chicago
#    restart: unless-stopped

#  recyclarr:
#    container_name: recyclarr
#    image: ghcr.io/recyclarr/recyclarr:latest
#    networks:
#      - devrack
#    env_file:
#      - ../server.env
#    volumes:
#      - /mnt/user/appdata/arrs/recyclarr:/config
#    environment:
#      - TZ=America/Chicago
#    restart: unless-stopped

networks:
  devrack:
    name: ${DOCKER_NETWORK}
    external: true
