---

- hosts: all
  become: true
  tasks:

  - name: refresh cache and install apache with php
    package:
      name:
        - "{{ apache_package }}"
        - "{{ php_package }}"
      state: latest
      update_cache: yes
